*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

section{
    background: linear-gradient(#21272D,#85a2b3);
    height: 100vh;
}

.regi-page1{
    /* border: 2px solid red; */
    /* height: 100%;
    width: 100%; */
}

.regilogo{
    width: 200px;
    margin: 10px;
    filter: drop-shadow(4px 4px 2px #ffffff);
}
.regih1{
    text-align: center;
    letter-spacing: 0.1rem;
}


.all-ready{
    letter-spacing: 1px;
}
.regilogin{
    color: rgb(28, 28, 198);
    letter-spacing: 1px;
    /* font-weight: 500; */
    filter: drop-shadow(1px 1px 1px #8f8f8f);
}

.btn1{
    padding: 0.3rem 0.9rem;
    color: #fff;
    background: #f14624;
    border-radius: 5px;
    border: none;
    letter-spacing: 0.1rem;
    margin-left: 0.5rem;
    box-shadow: 1px 1px 1px 2px rgb(149, 148, 148);
  
}

.btn1:hover{
    background: #f32a01;
    font-weight: 500;
}


.regi-right-page1{
    background-image: url("./img/img4.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius:20px 0 0 20px ; 
   height: 100vh;
}

input:focus-visible {
    outline-offset: 0px;
    box-shadow: none;
}

input:focus{
    box-shadow: none;
    outline: none;
}

.form-control:focus {
    color: #212529;
    background-color: #fff;
    border-color: none;
    outline: none;
    box-shadow: none;
}

/* Regi-Next-Page */

.btnreginext{

    padding: 0.2rem 0.7rem;
    background: #f34d2b;
    border-radius: 5px;
    border: none;
    letter-spacing: 0.1rem;
    margin-left: 0.5rem;
    box-shadow: 1px 1px 1px 1px rgb(146, 145, 145);
  
}
.btnreginext:hover{
    background: #e53613;

}

.scroll{
    height: 40vh;
    /* overflow: hidden; */
    overflow-y: scroll;
    color: #fff;
    margin: 10px 0;
    padding: 10px 0;
    /* box-shadow: 5px 12px 10px 1px gray; */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), /* bottom shadow */
    0 -4px 8px rgba(0, 0, 0, 0.1), /* top shadow */
    4px 0 8px rgba(0, 0, 0, 0.1), /* right shadow */
    -4px 0 8px rgba(0, 0, 0, 0.1); /* left shadow */
}
.roll{
    border: 1px solid rgb(234, 234, 255);
    margin: 10px;
    padding: 5px;
    border-radius: 15px;
    min-width: 82%;
 
}
.roll:hover{
    background-color: rgb(189, 183, 183);
}



